.testimonial-card {
  grid-column: auto;
  grid-row: 2;
  min-height: 22.75rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
}

.customer-bio {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
}

.testimonial-card img {
  width: 8rem;
  max-width: 40%;
  border-radius: 10px;
  object-fit: cover;
}

.testimonial-card span {
  color: #f4ce14;
}

/*-- Media queries ------------------------------------------------------*/

@media (max-width: 949px) {
  .testimonial-card {
    grid-column: auto;
    grid-row: auto;
  }
}
